.youHaveSuccessfully {
    margin: 0;
    position: absolute;
    top: 296px;
    left: 422px;
    font-size: 64px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 885px;
    height: 192px;
  }
  .hereAreYour {
    margin: 0;
    top: 484px;
    left: 422px;
    font-size: var(--font-size-11xl);
    font-weight: 300;
    width: 885px;
    height: 74px;
  }
  .hereAreYour,
  .proteus,
  .transactionKey {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .proteus {
    margin: 0;
    top: 21px;
    left: 14px;
    font-weight: 700;
    font-family: var(--font-aquire);
    width: 223px;
    height: 62px;
  }
  .transactionKey {
    top: 17px;
    left: 74px;
    font-size: var(--font-size-11xl);
    font-family: var(--font-roboto-mono);
    color: var(--color-white);
    text-align: center;
    width: 346px;
    height: 49px;
  }
  .transactionKeyWrapper {
    cursor: pointer;
    border: 1px solid #f5efed;
    padding: 0;
    background-color: var(--color-royalblue);
    position: absolute;
    top: 608px;
    left: 931px;
    border-radius: var(--br-6xl);
    box-sizing: border-box;
    width: 569px;
    height: 256px;
  }
  .usedToDecrypt {
    position: absolute;
    top: 784px;
    left: 1032px;
    font-size: 20px;
    display: flex;
    font-family: var(--font-roboto-mono);
    align-items: center;
    justify-content: center;
    width: 367px;
    height: 49px;
  }
  .signUpCompleteChild {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #433c62;
    position: absolute;
    top: 980px;
    left: 1344px;
    border-radius: 35px;
    width: 281px;
    height: 88px;
  }
  .next {
    position: absolute;
    top: 1002px;
    left: 1384px;
    font-size: 42px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 43px;
  }
  .materialSymbolsarrowRightAIcon {
    position: absolute;
    top: 994px;
    left: 1527px;
    width: 60px;
    height: 60px;
    overflow: hidden;
  }
  .animation640Lfusqhls1Icon {
    position: absolute;
    top: 83px;
    left: 750px;
    width: 229px;
    height: 229px;
  }
  .icbaselineRemoveRedEyeIcon {
    position: absolute;
    top: 630px;
    left: 1383px;
    width: 44px;
    height: 44px;
    overflow: hidden;
    cursor: pointer;
  }
  .hy4eyghijfws2fi3 {
    position: absolute;
    top: 711px;
    left: 1001px;
    font-family: var(--font-roboto-mono);
    color: var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 429px;
    height: 41px;
  }
  .profileKeyWrapper {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: var(--color-royalblue);
    position: absolute;
    top: 608px;
    left: 228px;
    border-radius: var(--br-6xl);
    width: 569px;
    height: 83px;
  }
  .icbaselineRemoveRedEyeIcon1 {
    position: absolute;
    top: 630px;
    left: 680px;
    width: 44px;
    height: 44px;
    overflow: hidden;
    cursor: pointer;
  }
  .signUpComplete {
    position: relative;
    background-color: var(--color-gray);
    width: 100%;
    height: 1117px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-17xl);
    color: var(--color-white);
    font-family: var(--font-gilroy);
  }
  